.navigation {

}

.nav__checkbox {

}

.nav__background {
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	position: fixed;
	top: 6.5rem;
	right: 6.5rem;
	background-image: radial-gradient(white, orange);
	z-index: 1000;

	transform: scale(0);
}

nav {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1500;
}

.nav__button {
	background-color: white;
	height: 7rem;
	width: 7rem;
	position: fixed;
	top: 6rem;
	right: 6rem;
	border-radius: 50%;
	z-index: 2000;
}

.nav__list {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	text-align: center;
}

.nav__item {
	margin: 1rem;
}

.nav__link:link,
.nav__link:visited {
	font-size: 3rem;
	font-weight: 300;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	background-color: transparent;
	/*background-image: linear-gradient(60deg, white 0%, white 50%, orange 50%);
	background-size: 300%;*/
	transition: all .4s;
}

.nav__link:hover, 
.nav__link:active {
	/*background-position: 100%;*/
}
 
